---
layout: 	page
title: 		"Tutorials"
subtitle:   "surrounding the Call of Duty Series"
permalink: 	/tutorials/
---

<a name="hlsl"></a>
{% for post in site.categories.tutorials  %}
    {% capture this_categorie %}{{ post.categorie }}{% endcapture %}

    {% if forloop.first %}
        <h2 class="c-tutorials_categorie" id="hlsl">Call of Duty 4 - HLSL</h2>
        <ul class="c-tutorials_list">
    {% endif %}

    {% if this_categorie == 'hlsl' %}
        <li class="c-archives__item">
            <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
             <p>{{ post.date | date: "%b %-d, %Y" }}</p>
        </li>
    {% endif %}

    {% if forloop.last %}
        </ul>
    {% endif %}
{% endfor %}

<div class="padding-1l"></div>


<a name="iw3xradiant"></a>
{% for post in site.categories.tutorials  %}
    {% capture this_categorie %}{{ post.categorie }}{% endcapture %}

    {% if forloop.first %}
        <h2 class="c-tutorials_categorie" id="iw3xo">IW3xRadiant</h2>
        <ul class="c-tutorials_list">
    {% endif %}

    {% if this_categorie == 'iw3xradiant' %}
        <li class="c-archives__item">
            <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
             <p>{{ post.date | date: "%b %-d, %Y" }}</p>
        </li>
    {% endif %}

    {% if forloop.last %}
        </ul>
    {% endif %}
{% endfor %}

<div class="padding-1l"></div>

<a name="iw3xo"></a>
{% for post in site.categories.tutorials  %}
    {% capture this_categorie %}{{ post.categorie }}{% endcapture %}

    {% if forloop.first %}
        <h2 class="c-tutorials_categorie" id="iw3xo">IW3xo</h2>
        <ul class="c-tutorials_list">
    {% endif %}

    {% if this_categorie == 'iw3xo' %}
        <li class="c-archives__item">
            <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
             <p>{{ post.date | date: "%b %-d, %Y" }}</p>
        </li>
    {% endif %}

    {% if forloop.last %}
        </ul>
    {% endif %}
{% endfor %}