<footer class="c-footer">
  <div class="c-footer__container_desc">
    <p>{{ site.footer-content }}</p>
  </div>
  <div>
    <p class="c-footer__container_links">
      {% if site.twitterUsername %}<a href="https://twitter.com/{{ site.twitterUsername }}">Twitter</a>{% endif %}
      {% if site.githubUsername %}<a href="https://github.com/{{ site.githubUsername }}">Github</a>{% endif %}
      {% if site.youtubeUsername %}<a href="https://youtube.com/channel/{{ site.youtubeUsername }}">YouTube</a>{% endif %}
      {% if site.steamUsername %}<a href="https://steamcommunity.com/id/{{ site.steamUsername }}">Steam</a>{% endif %}
    </p>
  </div>
</footer>

<script type="text/javascript">

window.onscroll = function() {hatemylife()};
var header = document.getElementById("header");
var desc = document.getElementById("desc-padd");
var sticky = header.offsetTop;
function hatemylife() 
{
  // sticky when not at the top or bottom of bg
  if (window.pageYOffset > sticky && window.pageYOffset < sticky + 280) {
    header.classList.add("sticky");
    header.classList.remove("sticky_max");
    desc.classList.add("desc-padd");
  } 

  // sticky_max at the bottom of bg
  else if(window.pageYOffset > sticky + 240) {
    header.classList.remove("sticky");
    header.classList.add("sticky_max");
  } 
  
  // remove sticky when top of bg was reached
  else {
    header.classList.remove("sticky");
    header.classList.remove("sticky_max");
    desc.classList.remove("desc-padd");
  }

  // remove sticky when out of bg bounds
  if(window.pageYOffset > sticky + 300) {
    header.classList.remove("sticky_max");
  }
}
</script>
