<footer class="c-footer">
  <div class="c-footer__container_desc">
    <p>{{ site.footer-content }}</p>
  </div>
  <div>
    <p class="c-footer__container_links">
      {% if site.twitterUsername %}<a href="https://twitter.com/{{ site.twitterUsername }}">Twitter</a>{% endif %}
      {% if site.githubUsername %}<a href="https://github.com/{{ site.githubUsername }}">Github</a>{% endif %}
      {% if site.youtubeUsername %}<a href="https://youtube.com/channel/{{ site.youtubeUsername }}">YouTube</a>{% endif %}
      {% if site.steamUsername %}<a href="https://steamcommunity.com/id/{{ site.steamUsername }}">Steam</a>{% endif %}
    </p>
  </div>
</footer>


<script type="text/javascript">
// ---------------------------------------
// scrolling direction

var prevPageOffs = 0;
function getScrollDirection(currPageOffs) // -1: scrolling up; 0: not scrolling; 1: scrolling down
{ 
  var direction;

  if(prevPageOffs == currPageOffs) {
    return 0;
  }

  if(currPageOffs - prevPageOffs > 0) {
    direction = 1;
  } else {
    direction = -1;
  }

  prevPageOffs = currPageOffs;
  return direction;
}

// ---------------------------------------
// dynamic nav

window.onscroll = function() {
  navScroll()
};

var bg = document.getElementById("bg-ground"); 
var header = document.getElementById("header");
var wasAllowedToScroll = false;

function navScroll() 
{
  // get the scroll direction
  var scrollDir = getScrollDirection(window.pageYOffset);

  // only modify the header when there is/was enough content to scroll
  if(document.body.scrollHeight >= 1300 || wasAllowedToScroll) 
  {
    // debug
    //console.log('currScroll @ ' + window.pageYOffset);
    //console.log('scrollDir @ ' + scrollDir);

    // one time on page load to set nav height. only usefull when jumped to tags within the page instead of landing at the top
    // using wasAllowedToScroll as a one shot bool
    if(!wasAllowedToScroll) 
    {
        if(window.pageYOffset < 40) {
          //console.log('initial height: 360 @ scroll: ' + window.pageYOffset);
          bg.style.height = "360px";
        } else {
          //console.log('initial height: 160 @ scroll: ' + window.pageYOffset);
          bg.style.height = "160px";
        }
    }
    
    // we loose scrollHeight on resizing the bg and may fall under the min-threshold to scroll
    // ^ allow further scrolling
    wasAllowedToScroll = true;
    
    // small nav between 1 - 161
    if (window.pageYOffset > 0 && window.pageYOffset < 161) 
    {
      if(header.classList.contains("sticky")) 
      {
        // snap to small nav when scrolling up
        if(scrollDir == -1 && window.pageYOffset > 100) {
          window.scrollBy(0, -4);
        }

        // do not resize when already using the small nav
        return;
      }
        //console.log('STICKY @ ' + window.pageYOffset);
        bg.style.height = "160px";
        bg.style.transition = "0.25s";
        header.classList.add("sticky");
    }

    else if (window.pageYOffset == 0)
    {
      if(!header.classList.contains("sticky")) {
        return;
      }

      //console.log('BIG @ ' + window.pageYOffset);
      bg.style.height = "360px";
      bg.style.transition = "0.4s";

      bg.scrollIntoView(true);
      header.classList.remove("sticky");
    }

    else if(window.pageYOffset >= 161 && header.classList.contains("sticky")) {
      //console.log('REMOVED STICKY @ ' + window.pageYOffset);
      header.classList.remove("sticky");
    }
  }
}
</script>
