<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  <meta property="og:type" content="website">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="https://xoxor4d.github.io/assets/img/logo-xoxo.png">
  <meta name="og:site_name" content="xoxor4d.github.io"/>
  <meta name="theme-color" content="#7289DA">

  <meta name="description" content="
  	{% if page.description %}
	  {{ page.description }}
	{% elsif site.description %}
		{{ site.description }}
	{% elsif page.excerpt %}
		{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
	{% endif %}">

  <meta name="author" content="{{ site.author.name }}">

	{% if page.keywords %}
		<meta name="keywords" content="{{ page.keywords }}">
	{% endif %}

  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto:300,400&display=swap" rel="stylesheet"> 
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

   <!-- Favicon -->
   <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.favicon }}" type="image/x-icon">
</head>
