<div class="bg-ground" id="bg-ground" onload="headerBG()">

    <div class="container">

        <div class="header" id="header">

            <a href="/" class="logo"></a>

            <div class="nav">

                <a class="nav_item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a>
                <a class="nav_item {% if page.url == '/projects/' %}is-active{% endif %}" href="{{ "/projects/" | prepend: site.baseurl }}">Projects</a>
                <a class="nav_item {% if page.url == '/tutorials/' %}is-active{% endif %}" href="{{ "/tutorials/" | prepend: site.baseurl }}">Tutorials</a>
                <a class="nav_item {% if page.url == '/research/' %}is-active{% endif %}" href="{{ "/research/" | prepend: site.baseurl }}">Research</a>
                <a class="nav_item {% if page.url == '/about/' %}is-active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">About</a>

                <div class="mobile-nav" id="mobile-nav" onclick="toggleMobileMenu()">
                    <a class="mobile-nav-logo" id="mobile-nav-logo"></a>

                    <div class="mobile-nav-content" id="mobile-nav-content">

                        <section class="mobile-nav-bg" id="mobile-nav-bg"></section>

                        <section class="one" onclick="mobileLink(0)">
                            <h1>Projects</h1>
                        </section>
                        <section class="two" onclick="mobileLink(1)">
                            <h1>Tutorials</h1>
                        </section>
                        <section class="three" onclick="mobileLink(2)">
                            <h1>Research</h1>
                        </section>
                        <section class="four" onclick="mobileLink(3)">
                            <h1>About</h1>
                        </section>
                    </div>
                    

                </div>
            
            </div>

        </div>

        <div class="desc" id="page-title">

            <div class="title">{{ page.title }}</div>

            <div class="sub-title">{{ page.subtitle }}</div>

        </div>
        
    </div>

</div>

