/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
  max-width: 160rem; // 1160px
  margin-right: auto;
  margin-left: auto;
}
