/* ==========================================================================
   Grey Theme
   ========================================================================== */

html{
    position:relative; 
    min-height: 100%;
    min-width: 50%;
  }

html,body{
    margin:0;
    padding:0;
  }

.pageContentWrapper {
  margin-bottom:80px;/* Height of footer*/
  
  }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:80px;
} 

// ------------------------------------
// img tags

img[src~="centered"] {
  margin: 0 auto;
  display: block;
}

img[src~="quatersize"] {
  width: 25%;
}

img[src~="halfsize"] {
  width: 50%;
}

img[src~="left"] {
  //float: left;
  padding: 1rem;
}

img[src~="right"] {
  float: right;
  padding: 1rem;
}

img[src~="yt_center"] {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  //padding: 1rem;
  margin-top: 8px;
  //margin-left: 6%;
}


// add spacing to markdown lists
li > ul {
  padding-bottom: 0.5em;
}



.img-centered
{
  margin: 0 auto;
  display: block;
}

// -----------------------------------------
// code highlight header
// :: <div class="highlight-header"><p> TITLE </p></div>

.highlight-header {
  background: $c__bouncepatch_codebox_header;
  //margin-left: -2.5rem;
  margin-bottom: 0rem;
  width: 100%;
  padding: 4px;
  padding-left: 1rem;

  p {
    @include fs--body;
    color: #c4c4c4;
  }
}

// code highlight box
// :: {% highlight LANGUAGE %} {% endhighlight %}

.highlight {
  background: $c__bouncepatch_codebox;
  }


// ------------------------------
// general stuff

.t-bouncepatch 
{
  // general background
  background: $c__bouncepatch_lightgrey;

  .c-article,
  .c-article__main {
    background: $c__bouncepatch_lightgrey;
  }
  
  .c-footer,
  .c-navigation,
  .c-header {
      background: $c__bouncepatch_darkgrey;
  }

  .c-article__main a:not(.c-btn) {
    color: $c__bouncepatch;
  }

  .c-footer a {
    color: $c__bouncepatch;
  }
}
