/* ==========================================================================
   Grey Theme
   ========================================================================== */

html{
    position:relative; 
    min-height: 100%;
    min-width: 50%;
  }

html,body{
    margin:0;
    padding:0;
  }

.pageContentWrapper {
  margin-bottom:80px;/* Height of footer*/
  
  }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:80px;
} 

// ------------------------------------
// img tags

img[src~="centered"] {
  margin: 0 auto;
  display: block;
}

img[src~="quatersize"] {
  width: 25%;
}

img[src~="halfsize"] {
  width: 50%;
}

img[src~="left"] {
  //float: left;
  padding: 1rem;
}

img[src~="right"] {
  float: right;
  padding: 1rem;
}

img[src~="yt_center"] {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  //padding: 1rem;
  margin-top: 8px;
  //margin-left: 6%;
}


// ------------------------------------
// button tags

a[href~="right"] {
  float: right;
  margin-right: 1rem;
  //padding: 1rem;
}

a[href~="button"] {
  padding: 1.5rem 2rem;
  @include fs--meta;
  text-decoration: none;
  background: #FAFAFA;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 3px;
}

// ------------------------------------
// add spacing to markdown lists

li > ul {
  padding-bottom: 0.5em;
}

// remember to use markdown="1" on div's
.md_container {
  display: flex;
}

.md_fixed{
  //width: 360px;
}
.md_flex-item{
  //padding-bottom: 5px;
  flex-grow: 1;
}

.img-centered
{
  margin: 0 auto;
  display: block;
}

// -----------------------------------------
// custom seperators

// 1 line padding
// :: <div class="padding-1l"></div>
.padding-1l {
  padding: 0.35rem;
}

.padding-2l {
  padding: 1.5rem;
}

// full width
// :: <div class="seperator-100p"></div>
.seperator-100p {
  background: $c__seperator_100p;
  margin-left: 0rem;
  margin-top: 3rem; // increased by 1
  width: 100%;
  padding: 1px;
}

// 3 quater width
// :: <div align="center"><div class="seperator-75w"></div></div>
.seperator-75p {
  background: $c__seperator_75p;
  margin-top: 3rem; // increased by 1
  width: 75%;
  padding: 1px;
  
  p {
    @include ff--sans-serif(100);
    color: #c4c4c4;
  }
}

// half width
// :: <div align="center"><div class="seperator-50p"></div></div>
.seperator-50p {
  background: $c__seperator_50p;
  margin-top: 3rem; // increased by 1
  width: 50%;
  padding: 1px;
}

// -----------------------------------------
// code highlight header
// :: <div class="highlight-header"><p> TITLE </p></div>

.highlight-header {
  background: $c__bouncepatch_codebox_header;
  margin-left: -2.5rem;
  margin-bottom: 0rem;
  width: calc(100% + 5rem);
  padding: 4px;
  padding-left: 1rem;

  p {
    @include fs--body;
    color: #c4c4c4;
  }
}

// code highlight box
// :: {% highlight LANGUAGE %} {% endhighlight %}

.highlight {
  background: $c__bouncepatch_codebox;
  }


// ------------------------------
// general stuff

.t-bouncepatch 
{
  // general background
  background: $c__bouncepatch_lightgrey;

  .c-article,
  .c-article__main {
    background: $c__bouncepatch_lightgrey;
  }
  
  .c-footer,
  .c-navigation,
  .c-header {
      background: $c__bouncepatch_darkgrey;
  }

  .c-article__main a:not(.c-btn) {
    color: $c__bouncepatch;
  }

  .c-footer a {
    color: $c__bouncepatch;
  }
}
