/* ==========================================================================
   Grey Theme
   ========================================================================== */

html {
    position:relative; 
    min-height: 100%;
    min-width: 50%;
}

html,body {
    margin: 0;
    padding: 0;

    // out of bounds background color for devices using overscroll (eg. ipad)
    background-color: #221d39; 
}

.pageContentWrapper {
  margin-bottom: 80px; // Height of footer
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:80px;
} 

// ------------------------------------
// img tags

img[src~="centered"] {
  margin: 0 auto;
  display: block;
}

img[src~="quatersize"] {
  width: 25%;
}

img[src~="halfsize"] {
  width: 50%;
}

img[src~="threequater"] {
  width: 75%;
}

img[src~="left"] {
  //float: left;
  padding: 1rem;
}

img[src~="right"] {
  float: right;
  padding: 1rem;
}

// add spacing to markdown lists
li > ul {
  padding-bottom: 0.5em;
}

// -----------------------------------------
// code highlight header
// :: <div class="highlight-header"><p> TITLE </p></div>

.highlight-header {
  background: $c__bouncepatch_codebox_header;
  //margin-left: -2.5rem;
  margin-bottom: 0rem;
  width: 100%;
  padding: 4px;
  padding-left: 1rem;

  p {
    @include fs--body;
    color: #c4c4c4;
  }
}

.highlight {
  background: $c__bouncepatch_codebox;
}

// ------------------------------
// general stuff
.t-main
{
  // general background
  //background: $c__bouncepatch_lightgrey;

  .c-article,
  .c-article__main {
    background: $c__bouncepatch_lightgrey;
  }

  .c-article__main a:not(.c-btn) {
    color: $c__bouncepatch;
  }
}
