.bg-ground {
	height: 360px; //570px
	background-color: #1f1b34;
	background-image: url("/assets/img/bg-header.png");
	background-repeat: no-repeat;
	position: sticky;
}

.container {
	position: relative;
	max-width: 128rem;
	margin-right: auto;
	margin-left: auto;
}

.sticky {
	position: fixed;
	width: 100%;
	max-width: 1280px;
	padding: 20px 0px !important;
	transition: 0.2s;
	opacity: 100%;

	.nav {
		float: right;
		transition: 0.2s;
	}
}

// move nav downwards when hidden for the showup animation 
// (keyframe hidden)
.sticky-hidden {
	position: fixed;
	width: 100%;
	max-width: 1280px;
	//padding: 20px 0px !important;
	opacity: 0% !important;
	padding-top: 4rem !important;
	transition: 0.0s !important;

	.nav {
		float: right;
	}
}

/* .sticky + .desc + .bg-ground {
	margin-top: 100px;
  } */

.sticky + .desc {
	padding-top: 150px;
	transition: opacity 0.15s ease-in;
	opacity: 0%;
} 

.header {
	padding-top: 40px;
	padding-bottom: 60px;
	transition: 0.2s;
	z-index: 99; 
	min-height: 60px;

	.nav {
		transition: 0.2s;
	}
	
}

.header .logo {
	height: 21px;
	width: 143px;
	background-image: url("/assets/img/logo-xoxo-2.png");
	background-repeat: no-repeat;
	float: left;
	margin: 0px 20px;
	padding-bottom: 3.5rem; // on resizing so that the nav is not to close
}

.header .logo p {
	float: left;
	color: #FFF;
	font-size: 16px;
	padding: 2px 0px 0px 65px;
}

.header .nav {
	float: right;
}

.header .nav a.nav_item {
	color: #FFF;
	line-height: 21px;
	padding: 0px 20px 0px 20px;
	min-width: 80px;
	width: 80px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

	transition: 0.2s;
}

.header .nav a.nav_item:hover {
	color: #5584ff;
	//text-decoration:underline;
}


.header .nav a.nav_item.is-active {
	color: #5584ff;

}

.desc {
	padding: 60px;
	color: #fff;
	text-align: center;

	transition: opacity 0.2s ease-in;
	opacity: 80%;
	pointer-events: none;
}

.desc .title {
	font-size: 48px; // fallback value
	font-size: calc(2rem + 2vmin); // scale text on scaling the viewport
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.desc .sub-title {
	font-size: 24px;
	font-size: calc(0.75rem + 1.8vmin); // scale text on scaling the viewport
	color: #8b8a92;
	padding-top: 10px;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4 {
	color: #6e7080;
	font-weight: 300;
}

p,li,ul {
	color: #8b8c9d; //a7a7b5
	font-family: "Lato"; //maybe chang thos to something else
}


.highlight-header p {
	line-height: 1.5;
	font-size: 1.8rem;
	color: #6e7080 !important; 
}

.highlight {
	background: #FFF;
	border-bottom: 1px solid #e8e8f1;
	border-right: 1px solid #e8e8f1;
	border-top: 1px solid #e8e8f1;
	border-left: 1px solid #e8e8f1;
}
.highlight {
	padding: 0px 0px 0px 0px !important;
	color:#6e7080 !important;
	margin-left: 0rem !important;
	width: 100% !important;
}
.highlight pre {
	padding: 2.5rem;
	font-size: 16px;
}


// ------------------------------------------------
// multiple elements within the same row / markdown

.md_flex-container {
	display: flex;
}
  
  .md_flex-item{
	//padding-bottom: 5px;
	flex-grow: 1;
}


// -----------------------------------------
// custom seperators

.padding-1l { // 1 line padding :: <div class="padding-1l"></div>
	padding: 0.35rem;
}
  
.padding-2l {
	padding: 1.5rem;
}
  
.seperator-100p { // full width
	background: $c__seperator_100p;
	margin-left: 0rem;
	margin-top: 3rem; // increased by 1
	width: 100%;
	padding: 1px;
}
  
.seperator-75p { // 75 %
	background: $c__seperator_75p;
	margin-top: 3rem; // increased by 1
	width: 75%;
	padding: 1px;
	
	p {
	  @include ff--sans-serif(100);
	  color: #c4c4c4;
	}
}
  
.seperator-50p { // 50 %
	background: $c__seperator_50p;
	margin-top: 3rem; // increased by 1
	width: 50%;
	padding: 1px;
}

// --------------------------------------------

.content-title {
	font-size: 28px;
	font-weight: 300;
	color: #6e7080;
	//border-bottom: 1px solid #e8e8f1;
	width: 100%;
	//margin-left: -2.5rem;
	//width: calc(100% + 5rem);
}

.padding-bottom-15 {
	margin-bottom: 15px;
}

.hightlight-lang-marks {
	font-size: 14px;
	color: #6e7080;
	padding: 5px;
	background-color: #e8e8f1;
	min-width: 100px;
	width: 115px;
	border-radius: 5px;
	text-align: center;
	//margin-left: -2.5rem;
	margin-top: 10px;
	margin-bottom: 10px !important;
}

.c-btn.bounce-btn {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	background-color: #5584ff;
	color: #FFF;
}

blockquote {
	background:#FFF !important;
	border: 1px solid#e8e8f1;
}

.c-footer {
	background-color: #1f1b34 !important;
	line-height: 100px;
	font-size: 16px;
}

.footer-left {
	width: 50%;
	float: left;
	margin-top: 35px;
}

.footer-right {
	width: 50%;
	float: right;
	margin-top: 35px;
}

.footer-copy-left {
	width: 45%;
	float: left;
	text-align: left;
}

.footer-copy-left p {
	font-size: 12px;
	font-family: "Roboto";
	text-transform: uppercase;
}

.footer-copy-center {
	width: 10%;
	float: left;
	text-align: center;
}

.footer-copy-right {
	width: 45%;
	float: right;
	text-align: right;
}
.footer-copy-right p {
	font-size: 12px;
	font-family: "Roboto";
	text-transform: uppercase;
}
.footer-copy p b {
	color: #ce2020;
	font-size: 14px;
}

.footer-copy {
	background-color: #221d39;
	height: 50px;
	line-height: 50px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.footer-logo {
	height: 18px;
	width: 30px;
	background-image: url("/assets/img/footer-logo.png");
	background-repeat: no-repeat;
	margin: 16px auto;
}

.c-footer__container_links {
	color: #5584ff;
}

.twitter {
	background-image: url("/assets/img/social/twitter.png");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
}

.steam {
	background-image: url("/assets/img/social/steam.png");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
}

.twitch {
	background-image: url("/assets/img/social/twitch.png");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.github {
	background-image: url("/assets/img/social/github.png");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.youtube {
	background-image: url("/assets/img/social/youtube.png");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
}





/* @media screen and (min-width: 701px) {
} */

// hidden mobile stuff here
.mobile-nav {
	display: none; // disable it when not using mobile view
	float: right;
	margin-top: -6px; // center it
	padding-right: 2rem;
	cursor: pointer;
}

.mobile-nav-logo {
	height: 56px;
	width: 40px;
	margin-top: -1.2rem;
	display: inline-block;
	transition: 0.2s;

	background: url(https://iamturner.co.uk/codepen/menu-icon.png) no-repeat center;
	background-size: 54px;

	&:active {
		opacity: 0.2;
		transition: 0.0s !important;
	}
}

.mobile-nav-content {
	margin-top: -8rem;
	opacity: 0%;
	transition: 0.3s;
	margin-top: -151px; // move out of bounds .. meme
	//display: table-column;
}

$mobile-nav-bg-prim: #534a613d;
$mobile-nav-bg-sec: #4a41573f;

section {
	position: absolute;
	//top: 0;
	left: 0;
	width: 100%;
	//height: 100%;
	height: 70px;
	//border-radius: 8px 8px 0 0;
	-webkit-transition: -webkit-transform 0.3s;
	
	&.one {
	  	background: $mobile-nav-bg-prim;
	  	-webkit-transition-delay: 0s;
	}
	
	&.two {
		background: $mobile-nav-bg-sec;
		-webkit-transition-delay: 0.05s;
	}
	
	&.three {
		background: $mobile-nav-bg-prim;
		-webkit-transition-delay: 0.1s;
	}
	
	&.four {
		background: $mobile-nav-bg-sec;
		-webkit-transition-delay: 0.15s;
	}
	
	&.after {
	  	-webkit-transform: translateY(100%);
	}

	h1 {
		color: white;
		font-weight: 500;
		font-size: 2rem;
		text-align: center;
		margin: 0;
		line-height: 70px;
		-webkit-user-select: none;
  	}
}
  
.page-one {
	section 
	{
		&.one { -webkit-transition-delay: 0s; }
		&.two { -webkit-transition-delay: 0.15s; }
		&.three { -webkit-transition-delay: 0.1s; }
		&.four { -webkit-transition-delay: 0.05s; } 
	} 
}
  
.page-two {
	section 
	{
		&.one { -webkit-transition-delay: 0s; }
		&.two { -webkit-transition-delay: 0.05s; }
		&.three { -webkit-transition-delay: 0.1s; }
		&.four { -webkit-transition-delay: 0.05s; } 
	} 
}
  
.menu-open {
	
	section 
	{
		cursor: pointer;
	  
		&.one {
			-webkit-transform: translateY(90px);
			-webkit-transition-delay: 0.15s;
			
			&:active {
				background: lighten($mobile-nav-bg-prim, 3%);
			}
		}
	  
		&.two {
			-webkit-transform: translateY(160px);
			-webkit-transition-delay: 0.1s;
			
			&:active {
				background: lighten($mobile-nav-bg-sec, 3%);
			}
		}
		
		&.three {
			-webkit-transform: translateY(230px);
			-webkit-transition-delay: 0.05s;
			
			&:active {
				background: lighten($mobile-nav-bg-prim, 3%);
			}
		}
		
		&.four {
			-webkit-transform: translateY(300px);
			-webkit-transition-delay: 0s;
			
			&:active {
				background: lighten($mobile-nav-bg-sec, 3%);
			}
		}
	}
	
	&.page-one {
		section {
			&.one { -webkit-transition-delay: 0s; }
			&.two { -webkit-transition-delay: 0.05s; }
			&.three { -webkit-transition-delay: 0.1s; }
			&.four { -webkit-transition-delay: 0.15s; }
		}
	}
		
	&.page-two {
		section {
			&.one { -webkit-transition-delay: 0s; }
			&.two { -webkit-transition-delay: 0.05s; }
			&.three { -webkit-transition-delay: 0.1s; }
			&.four { -webkit-transition-delay: 0.15s; } 
		} 
	}
}

// -------------------------------------------------------------------------------------
// overwrites for mobile when less then 700px in width 
@media screen and (max-width: 700px) 
{
	// fade out the nav
	.header 
	{
		//opacity: 0%;

		// whole nav including the mobile-nav
		.nav {
			//display: none;
			//opacity: 50% !important;

			// desktop nav
			.nav_item {
				display: none;
			}

			.mobile-nav {
				display: unset; // show
			}
		}
	}

	.footer-left {
		width: 100%;
		float: left;
	}

	.footer-right {
		width: 100%;
		float: right;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid #392f50;
		padding: 20px 0px 0px 0px;
		margin-top: 25px;
	}

	.c-footer__container_links {
		float: left !important;
	}

	.footer-copy p {
		font-size: 10px;
	}
	.footer-copy p b {
		color: #ce2020;
		font-size: 10px;
	}
	


}