.bg-ground {
	height: 350px; //570px
	background-color: #1f1b34;
	background-image: url("/assets/img/bg-header.png");
	background-repeat: no-repeat;
}

.container {
	position: relative;
	max-width: 128rem;
	margin-right: auto;
	margin-left: auto;
}

.header {
	padding-top: 40px;
}

.header .logo {
	height: 21px;
	width: 143px;
	background-image: url("/assets/img/logo-xoxo-2.png");
	background-repeat: no-repeat;
	float: left;
}

.header .logo p {
	float: left;
	color: #FFF;
	font-size: 16px;
	padding: 2px 0px 0px 65px;
}

.header .nav {
	float: right;
}

.header .nav a.nav_item {
	color: #FFF;
	line-height: 21px;
	padding: 0px 20px 0px 20px;
	min-width: 80px;
	width: 80px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.header .nav a.nav_item:hover {
	color: #5584ff;
	//text-decoration:underline;
}


.header .nav a.nav_item.is-active {
	color: #5584ff;

}

.desc {
	margin: 100px auto;
	color: #fff;
	text-align: center;
}

.desc .title {
	font-size: 48px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.desc .sub-title {
	font-size: 24px;
	color: #8b8a92;
	padding-top: 10px;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4 {
	color: #6e7080;
	font-weight: 300;
}

p,li,ul {
	color: #a7a7b5;
	font-family: "Lato"; //maybe chang thos to something else
}


.highlight-header p {
	line-height: 1.5;
	font-size: 1.8rem;
	color: #6e7080 !important; 
}

.highlight {
	background: #FFF;
	border-bottom: 1px solid #e8e8f1;
	border-right: 1px solid #e8e8f1;
	border-top: 1px solid #e8e8f1;
	border-left: 5px solid #e8e8f1;
}
.highlight {
	padding: 0px 0px 0px 0px !important;
	color:#6e7080 !important;
	margin-left: 0rem !important;
	width: 100% !important;
}
.highlight pre {
    padding: 2.5rem;
}

.content-title {
	font-size: 28px;
	font-weight: 300;
	color: #6e7080;
	border-bottom: 1px solid #e8e8f1;
	//margin-left: -2.5rem;
	//width: calc(100% + 5rem);
}

.padding-bottom-15 {
	margin-bottom: 15px;
}

.hightlight-lang-marks {
	font-size: 14px;
	color: #6e7080;
	padding: 5px;
	background-color: #e8e8f1;
	min-width: 100px;
	width: 115px;
	border-radius: 5px;
	text-align: center;
	//margin-left: -2.5rem;
	margin-top: 10px;
	margin-bottom: 10px !important;
}

.c-footer {
	background-color: #1f1b34 !important;
	height: 100px !important;
	line-height: 100px;
	font-size: 16px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	color: #6d6d6d;
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	width: 100%;
}

.c-footer__container_links {
	color: #5584ff;
}